/*  Reset CSS  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  min-height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------- */

.thin__scroll::-webkit-scrollbar {
  width: .8rem;
}

.thin__scroll::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 0.26rem transparent;
  border-radius: 8px;
}

.paper__shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.trello__shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.font__italic {
  font-style: italic;
}

.color__black {
  color: black;
}

.font__semibold {
  font-weight: 600;
}